<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="version" value="0.1.0" />
    <add key="rootDir" value="//vm1/media/workspace/projekte/" />
    <add key="paths" value="06_technik/01_zugangsdaten/;05_technik/" />
  </appSettings>
  
</configuration>